<div class="booking-detail" style="margin-bottom: 100px;">

    <app-user-navbar></app-user-navbar>

         <form class="container container-1 border-black border col-lg-6 col-xl-9" 
         style="color:black;height: 85vh">
             
         <div class="row" style="display: flex;justify-content: space-evenly;align-items: center;padding: auto;">
         <div class="col-md-6">
                <img class="img-fluid" src="../../../assets/images/{{place.image}}" class="w-90">
        </div>
             <!-- <div class="temp" style="" > -->
                <div class="col-md-6" style="text-align: start;padding: 50px;" >
                        <p > Name : {{place.name}}</p>
                        <p >Distance:{{place.distance}} km</p>
                        <p >Area : {{place.area}}</p>
                        <p style="text-align: left;">Description : {{place.description}}</p>
                                          
                </div>
         <!-- </div> -->  
         <!-- class="d-flex flex-column align-items-start p-2 mt-4 "  -->
        </div>
         </form>
</div>




