
<div class="main-container w-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <h1 style="color: rgb(0, 0, 0); font-style: oblique; font-size: 38px;"> Karnataka <span class="subscript" style="font-size: 30px; color: red; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Tourism</span></h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="#portfolio" style="color: black;">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register" style="color: black;">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" style="color: black;">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- main section -->
  <section class="banner-area relative w-100" id="home">
    <div class="overlay overlay-bg w-100"></div>
    <div class="container w-100">
      <div class="row fullscreen d-flex align-items-center justify-content-center">
        <div class="banner-content col-lg-10">
          <a href="#portfolio" class="primary-btn text-uppercase">Explore</a>
        </div>
      </div>
    </div>
  </section>
 
  <!-- End banner Area -->
 

  <!-- Start portfolio-area Area -->
  <section class="portfolio-area section-gap d-flex w-100 " id="portfolio">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content col-lg-10">
          <div class="title text-center" style="color: rgb(230, 17, 17);">
            <h1 class="mb-10">EXPERIENCE KARNATAKA</h1>
            <p style="color: rgb(146, 107, 8);font-size: 
            25px;font-weight: bolder; font-style: italic;">One State. Many Worlds.</p>
          </div>
        </div>
      </div>


      <div class="filters-content">
        <div class="row grid">
          <div class="single-portfolio col-sm-4 all corporate">
            <div class="item container1">
              <img src="../../../assets/images/CHIKKAMANGALURU.jpg" alt="Work 1">
              <div class="p-inner">
                <h4 style="color: azure;">
                  <a>Chikkamangaluru</a>
                </h4>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all personal ">
            <div class="item container1">
              <img src="../../../assets/images/MYSURU.jpg" alt="Work 1">
              <div class="p-inner ">
                <h4 style="color: azure;">Mysuru</h4>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all agency">
            <div class="item container1">
              <img src="../../../assets/images/COORG.jpg" alt="Work 1">
              <div class="p-inner">
                <h5 style="color: azure;">Coorg</h5>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all portal">
            <div class="item container1">
              <img src="../../../assets/images/DANDELI.jpg" alt="Work 1">
              <div class="p-inner">
                <h5 style="color: azure;">Dandeli</h5>
                
              </div>
            </div>
          </div>

          <div class="single-portfolio col-sm-4 all corporate">
            <div class="item container1">
              <img src="../../../assets/images/BENGALURU.jpg" alt="Work 1">
              <div class="p-inner">
                <h4 style="color: azure;">Bengaluru</h4>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all personal">
            <div class="item container1">
              <img src="../../../assets/images/HONNAVAR.jpg" alt="Work 1">
              <div class="p-inner">
                <h4 style="color: azure;">Honnavar</h4>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all agency">
            <div class="item container1">
              <img src="../../../assets/images/MADIKERI.jpg" alt="Work 1">
              <div class="p-inner">
                <h5 style="color: azure;">Madikeri</h5>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all portal">
            <div class="item container1">
              <img src="../../../assets/images/MURUDESHWAR.jpg" alt="Work 1">
              <div class="p-inner">
                <h5 style="color: azure;">Murudeshwar</h5>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all corporate">
            <div class="item container1">
              <img src="../../../assets/images/MANGALORE.jpg" alt="Work 1">
              <div class="p-inner">
                <h4 style="color: azure;">Mangalore</h4>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all personal">
            <div class="item container1">
              <img src="../../../assets/images/HAMPI.jpg" alt="Work 1">
              <div class="p-inner">
                <h4 style="color: azure;">Hampi</h4>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all agency">
            <div class="item container1">
              <img src="../../../assets/images/UDUPI.jpg" alt="Work 1">
              <div class="p-inner">
                <h5 style="color: azure;">Udupi</h5>
                
              </div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all portal">
            <div class="item container1">
              <img src="../../../assets/images/GOKARNA (2).jpg" alt="Work 1">
              <div class="p-inner">
                <h5 style="color: azure;">Gokarna</h5>
                
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <!-- Bootstrap JS dependencies -->


</div>